<h2 align="center">Log in</h2>

<br>    



<%= form_for(:session, url: login_path) do |f| %>
 
  <p>
    <%= f.label :email %> <br />
    <%= f.email_field :email %>
  </p>

     <p>
    <%= f.label :password %> <br />
    <%= f.password_field :password %>
  </p>


  <p>
    <%= f.submit "Log in" %>
  </p>

<% end %>

<%= link_to "Cancel request and return to listing articles", articles_path %>